body {
  margin: 0;
  padding: 0;
  background: radial-gradient(farthest-corner at 30% 80%, rgb(94, 255, 201) , #04C8DE ) no-repeat;
  font-size: 12px;
  font-weight: bold;
  color: #0A1165;
  font-family: 'Courier New', Courier, monospace;
}




